In [2]:
from bs4 import BeautifulSoup
import requests
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_Pakistan'

In [ ]:
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')
print (soup)

In [ ]:
table = soup.find_all('table')[1]
print(table)

In [35]:
soup.find('table', class_ = 'wikitable sortable jquery-tablesorter')
# not working

In [36]:
coulum_titles= soup.find_all('th')
coulum_titles_striped = [title.text.strip() for title in coulum_titles]
print (coulum_titles_striped)

['Group name', 'Headquarters', 'Publicly listed companies', 'Reference(s)', 'Rank', 'Name', 'Market cap (US$)', 'Headquarters', 'Industry', 'Reference(s)']

In [37]:
import pandas as pd
df = pd.DataFrame(columns=coulum_titles_striped)
df

Empty DataFrame
Columns: [Group name, Headquarters, Publicly listed companies, Reference(s), Rank, Name, Market cap (US$), Headquarters, Industry, Reference(s)]
Index: []

In [ ]:
column_data = table.find_all('tr')
print(column_data)

In [60]:
for row in column_data[1:]:
    row = row.find_all('td')
    individual_data = [data.text.strip() for data in row]
    print(individual_data)
    # length = len(df)
    # df.loc[length] = individual_data

['1', 'Oil & Gas Development Company', 'Rs.\xa0977.43 billion (US$3.4\xa0billion)', 'Islamabad', 'Petroleum', '[2]']
['2', 'Mari Petroleum', 'Rs.\xa0863.98 billion (US$3.0\xa0billion)', 'Islamabad', 'Petroleum', '[2]']
['3', 'Pakistan Petroleum Limited', 'Rs.\xa0553.85 billion (US$1.9\xa0billion)', 'Karachi', 'Petroleum', '[2]']
['4', 'United Bank Limited', 'Rs.\xa0467.92 billion (US$1.6\xa0billion)', 'Karachi', 'Banking', '[2]']
['5', 'Fauji Fertilizer Company', 'Rs.\xa0466.05 billion (US$1.6\xa0billion)', 'Rawalpindi', 'Fertilizer', '[2]']
['6', 'Meezan Bank', 'Rs.\xa0433.43 billion (US$1.5\xa0billion)', 'Karachi', 'Banking', '[2]']
['7', 'Colgate-Palmolive Pakistan', 'Rs.\xa0364.96 billion (US$1.3\xa0billion)', 'Karachi', 'Fast-moving consumer goods', '[2]']
['8', 'Pakistan Tobacco Company', 'Rs.\xa0340.26 billion (US$1.2\xa0billion)', 'Islamabad', 'Tobacco', '[2]']
['9', 'Nestlé Pakistan', 'Rs.\xa0337.85 billion (US$1.2\xa0billion)', 'Lahore', 'Fast-moving consumer goods', '[2]']
['10', 'MCB Bank', 'Rs.\xa0333.36 billion (US$1.2\xa0billion)', 'Lahore', 'Banking', '[2]']
['11', 'Lucky Cement', 'Rs.\xa0322.44 billion (US$1.1\xa0billion)', 'Karachi', 'Cement', '[2]']
['12', 'Engro Fertilizers', 'Rs.\xa0272.65 billion (US$940\xa0million)', 'Karachi', 'Fertilizer', '[2]']
['13', 'Habib Bank Limited', 'Rs.\xa0255.91 billion (US$890\xa0million)', 'Karachi', 'Banking', '[2]']
['14', 'Engro Corporation', 'Rs.\xa0238.95 billion (US$830\xa0million)', 'Karachi', 'Conglomerate', '[2]']
['15', 'Bestway Cement', 'Rs.\xa0213.89 billion (US$740\xa0million)', 'Islamabad', 'Cement', '[2]']
['16', 'Pakistan State Oil', 'Rs.\xa0206.89 billion (US$720\xa0million)', 'Karachi', 'Petroleum', '[2]']
['17', 'Standard Chartered Pakistan', 'Rs.\xa0205.19 billion (US$710\xa0million)', 'Karachi', 'Banking', '[2]']
['18', 'Systems Limited', 'Rs.\xa0181.10 billion (US$630\xa0million)', 'Lahore', 'Information technology', '[2]']
['19', 'Pakistan Oilfields Limited', 'Rs.\xa0179.29 billion (US$620\xa0million)', 'Rawalpindi', 'Petroleum', '[2]']
['20', 'Hub Power Company', 'Rs.\xa0169.78 billion (US$590\xa0million)', 'Karachi', 'Power generation', '[2]']

In [63]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Wikipedia page URL
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_Pakistan'

# Fetch the page
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html.parser')  # Fix parser name

# Find all tables and select the correct one
tables = soup.find_all('table', {'class': 'wikitable'})  # Selects all Wikipedia tables
if len(tables) < 1:
    print("No tables found on the page")
    exit()

table = tables[1]  # Select the first table (adjust if needed)

# Extract column headers from the selected table
headers = [header.text.strip() for header in table.find_all('th')]
df = pd.DataFrame(columns=headers)  # Create an empty DataFrame with correct headers

# Extract rows
rows = table.find_all('tr')[1:]  # Skip the header row

for row in rows:
    columns = row.find_all('td')
    row_data = [col.text.strip() for col in columns]

    # Ensure row data matches the number of columns
    if len(row_data) == len(df.columns):
        df.loc[len(df)] = row_data
    else:
        print(f"Skipping row due to column mismatch: {row_data}")

# Display DataFrame
print(df)

# Save to CSV (optional)
df.to_csv(r'C:\Users\dell\OneDrive\Power BI\companies.csv', index= False)

   Rank                           Name                     Market cap (US$)  \
0     1  Oil & Gas Development Company  Rs. 977.43 billion (US$3.4 billion)
1     2                 Mari Petroleum  Rs. 863.98 billion (US$3.0 billion)
2     3     Pakistan Petroleum Limited  Rs. 553.85 billion (US$1.9 billion)
3     4            United Bank Limited  Rs. 467.92 billion (US$1.6 billion)
4     5       Fauji Fertilizer Company  Rs. 466.05 billion (US$1.6 billion)
5     6                    Meezan Bank  Rs. 433.43 billion (US$1.5 billion)
6     7     Colgate-Palmolive Pakistan  Rs. 364.96 billion (US$1.3 billion)
7     8       Pakistan Tobacco Company  Rs. 340.26 billion (US$1.2 billion)
8     9                Nestlé Pakistan  Rs. 337.85 billion (US$1.2 billion)
9    10                       MCB Bank  Rs. 333.36 billion (US$1.2 billion)
10   11                   Lucky Cement  Rs. 322.44 billion (US$1.1 billion)
11   12              Engro Fertilizers  Rs. 272.65 billion (US$940 million)
12   13             Habib Bank Limited  Rs. 255.91 billion (US$890 million)
13   14              Engro Corporation  Rs. 238.95 billion (US$830 million)
14   15                 Bestway Cement  Rs. 213.89 billion (US$740 million)
15   16             Pakistan State Oil  Rs. 206.89 billion (US$720 million)
16   17    Standard Chartered Pakistan  Rs. 205.19 billion (US$710 million)
17   18                Systems Limited  Rs. 181.10 billion (US$630 million)
18   19     Pakistan Oilfields Limited  Rs. 179.29 billion (US$620 million)
19   20              Hub Power Company  Rs. 169.78 billion (US$590 million)

   Headquarters                    Industry Reference(s)
0     Islamabad                   Petroleum          [2]
1     Islamabad                   Petroleum          [2]
2       Karachi                   Petroleum          [2]
3       Karachi                     Banking          [2]
4    Rawalpindi                  Fertilizer          [2]
5       Karachi                     Banking          [2]
6       Karachi  Fast-moving consumer goods          [2]
7     Islamabad                     Tobacco          [2]
8        Lahore  Fast-moving consumer goods          [2]
9        Lahore                     Banking          [2]
10      Karachi                      Cement          [2]
11      Karachi                  Fertilizer          [2]
12      Karachi                     Banking          [2]
13      Karachi                Conglomerate          [2]
14    Islamabad                      Cement          [2]
15      Karachi                   Petroleum          [2]
16      Karachi                     Banking          [2]
17       Lahore      Information technology          [2]
18   Rawalpindi                   Petroleum          [2]
19      Karachi            Power generation          [2]